<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>ToDoList-등록항목 살펴보기</title>

    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <style>
        .containerbox {
            height: 500px;
        }
    </style>
</head>
<body>
<div class="container-fluid">
    <header>
        <div class="container">
            <a href="/" class="align-items-center text-dark text-decoration-none">
                <h2 class="text-primary text-center my-4">ToDoList</h2>
            </a>
            <hr>
        </div>
    </header>
    <div class="row containerbox">
        <div class="col-sm-2 col-md-2">
            <form action="/todolist/search" method="GET">
                <div class="input-group my-3">
                    <span class="input-group-text"> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                         fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                      </svg>
                      </span>
                    <input type="text" name="key" id="ToDoListSearch" class="form-control"
                           placeholder="제목">
                    <span class="input-group-btn"><button class="btn btn-outline-success"
                                                          type="submit">검색 </button> </span>
                </div>
            </form>
            <hr>
            <nav class="mt-2 nav nav-pills flex-column nav-fill nav-justified">
                <a class="my-1 nav-link active" href="/todolist">전체</a>
                <a class="my-1 nav-link" href="/todolist/complete">완료된 항목</a>
                <a class="my-1 nav-link" href="/todolist/not-complete">미완료된 항목</a>
            </nav>
        </div>
        <div class="col-xs-8 col-md-8">
            <br>
            <div class="container">
                <table class="table table-hover">
                    <thread class="thread-string">
                        <tr class="table-active bg-opacity-50">
                            <th class="text-center">제목</th>
                            <th class="text-center">시작시간</th>
                            <th class="text-center">종료시간</th>
                            <th class="text-center">최종 수정시간</th>
                            <th class="text-center">완료여부</th>
                        </tr>
                    </thread>
                    <tbody id="tbody body">
                    {{#posts}}
                        <tr>
                            <td class="text-center"><a href="/api/get/{{No}}">{{title}}</td>
                            <td class="text-center">{{whenToDo}}</td>
                            <td class="text-center">{{expectedTime}}</td>
                            <td class="text-center">{{ModityTime}}</td>
                            <td class="text-center" id="iscomplete">{{isComplete}}</td>
                        </tr>
                    {{/posts}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="container">
        <nav aria-label="...">
            <ul class="pagination justify-content-center">
                {{#hasPrev}}
                    <li class="page-item">
                        <a class="page-link" href="?page={{previous}}">이전 페이지 </a>
                    </li>
                {{/hasPrev}}
                {{^hasPrev}}
                    <li class="page-item disabled"><a href="#" class="page-link disable">이전 페이지</a></li>
                {{/hasPrev}}
                {{#hasNext}}
                    <li class="page-item"><a class="page-link" href="?page={{next}}">다음 페이지</a>
                    </li>
                {{/hasNext}}
                {{^hasNext}}
                    <li class="page-item disabled"><a href="#" class="page-link disable">다음 페이지</a></li>
                {{/hasNext}}
            </ul>

        </nav>


    </div>


</div>
<script>
    var i = 0;
</script>

<script src="/js/bootstrap.min.js"></script>
<script src="/js/list.js"></script>


</body>
</html>