<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>ToDoList-등록항목 살펴보기</title>

    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <style>
        .boxsize {
            height: 500px;
        }

        .emptybox {
            height: 500px;
        }
    </style>
</head>
<body>
<div class="container-fluid">
    <header>
        <div class="container">
            <a href="/" class="align-items-center text-dark text-decoration-none">
                <span class="fs-4"><h1 class="text-primary text-center">ToDoList</h1></span>
            </a>
            <hr>
        </div>
    </header>
    <div class="row">
        <div class="col-xs-2 col-md-2">
            <ul class="nav nav-pills nav-stacked">
                <form action="/todolist/search" method="GET">
                    <div class="input-group">
                        <span class="input-group-addon"> <span class="glyphicon glyphicon-search"> </span> </span>
                        <input type="text" name="key" id="ToDoListSearch" class="form-control"
                               placeholder="제목을 입력해 주세요.">
                        <span class="input-group-btn"><button class="btn btn-default" type="submit">검색 </button> </span>
                    </div>
                </form>
                <hr>
                <li><a href="/todolist">전체</a></li>
                <li><a href="/todolist/complete">완료된 항목</a></li>
                <li class="active"><a href="/todolist/not-complete">미완료된 항목</a></li>

            </ul>
        </div>
        <div class="col-xs-8 col-md-8">
            <br>
            <div class="boxsize">
                <table class="table table-horizontal table-hover">
                    <thread class="thread-string">
                        <tr class="active">
                            <th>등록번호</th>
                            <th>제목</th>
                            <th>시작시간</th>
                            <th>최종 등록시간</th>
                            <th>완료여부</th>
                        </tr>
                    </thread>
                    <tbody id="tbody body">
                    {{#posts}}
                        <tr>
                            <td>{{No}}</td>
                            <td><a href="/api/get/{{No}}">{{title}}</td>
                            <td>{{whenToDo}}</td>
                            <td>{{ModityTime}}</td>
                            <td id="iscomplete">{{isComplete}}</td>
                        </tr>
                    {{/posts}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="container">
        <ul class="pager position-fixed">
            {{#hasPrev}}
                <li class="position-fixed">
                    <a href="?page={{previous}}">이전 페이지 </a>
                </li>
            {{/hasPrev}}
            {{^hasPrev}}
                <li class="disabled position-fixed"><a href="#" class="disable">이전 페이지</a></li>
            {{/hasPrev}}
            {{#hasNext}}
                <li class="position-fixed"><a href="?page={{next}}">다음 페이지</a>
                </li>
            {{/hasNext}}
            {{^hasNext}}
                <li class="disabled position-fixed"><a href="#" class="disable">다음 페이지</a></li>
            {{/hasNext}}
        </ul>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="/js/bootstrap.js"></script>
<script src="/js/list.js"></script>


</body>
</html>